SECRET_KEY=your-django-secret-key-here
DEBUG=True

DB_NAME=process.env.MYSQL_DATABASE
DB_USER=process.env.MYSQL_USER
DB_PASSWORD=process.env.MYSQL_PASSWORD
DB_HOST=process.env.MYSQL_HOST
DB_PORT=process.env.MYSQL_PORT  
